@page "/heroes"
@using AngularBlazor.UI.Shared
@using AngularBlazor.UI.Client.Services
@inject HeroService HeroService

<div class="heroes">
    @if (heroList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>My Heroes</h2>
        <div>
            <label>Hero name:
                <input bind="@heroName" />
            </label>
            <button onclick="@AddHero">
                add
            </button>
        </div>
        <ul class="heroList">
            @foreach (var hero in heroList)
            {
                <li>
                    <a href="/detail/@hero.Id">
                        <span class="badge">@hero.Id</span> @hero.Name
                    </a>
                    <button class="delete" title="Delete Hero" onclick="@(async () => await Delete(hero))">X</button>
                </li>
            }
        </ul>
    }
</div>

@functions {

    IReadOnlyList<Hero> heroList;

    string heroName;

    protected override async Task OnInitAsync()
    {
        await this.GetHeroes();
    }

    protected override void OnInit()
    {
        HeroService.OnChange += this.StateHasChanged;
    }

    protected async Task AddHero()
    {
        System.Console.WriteLine("Adding Hero!");
        await this.HeroService.Add(this.heroName);
        this.heroName = string.Empty;
        await this.GetHeroes();
    }

    private async Task GetHeroes()
    {
        heroList = await this.HeroService.Get();
    }

    private async Task Delete(Hero hero)
    {
        await this.HeroService.Delete(hero);
        await this.GetHeroes();
    }

}
